@import "variable";

body {
  margin: 0;
  background: rgba(67, 76, 204, 0.05);
  footer {
    padding: 0 14.5px;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h3 {
  font-family: "dm_serif_display";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

@media(min-width: 1120px) {
  .container {
    max-width: 1114px;
    margin: auto;
  }
}
  