@import "variable";

section:nth-of-type(2) {
  .container {
    .specific_details {
      padding-top: 92px;
      padding-bottom: 75px;
      .details_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        max-width: 443px;
        .label {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.5);
        }
        .details {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
}
