@import "variable";
@import "mixins";

section:nth-of-type(2) {
  .container {
    .specific_details {
      padding-top: calc(#{$padding * 46});
      padding-bottom: calc(#{$padding * 37.5});
      .details_container {
        @include grid;
        .label {
          @include font_DM_sans_normal_plus_font_size;
          color: $sub-heading-text-color;
        }
        .details {
          @include font_DM_sans_bold_plus_font_size;
          color: $primary-color-heading;
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  section:nth-of-type(2) {
    .container {
      .specific_details {
        padding-top: 89px;
        .details_container {
          @include grid_desktop;
        }
      }
    }
  }
}