@import "variable";
@import "mixins";

// Nothing is done here yet

section:nth-of-type(1) {
  .container {
    ul {
      li:first-of-type {
        padding-bottom: calc(#{$padding * 4});
        img {
          max-width: $percentage;
          height: $margin-auto;
          border-radius: calc(#{$padding * 2.5});
        }
      }
      li:nth-of-type(2) {
        ul {
          @include flex;
          overflow-x: scroll;
          li {
            img {
              max-width: calc(#{$padding * 68.5});
              border-radius: calc(#{$padding * 2.5});
            }
          }
          li:not(:first-of-type) {
            background: #d8d8d834;
            opacity: .5;
            padding-left: calc(#{$padding * 5});
          }
        }
      }
    }
  }
}