@import "variable";

section:nth-of-type(1) {
  padding: 0 14.5px;
  .container {
    overflow: hidden;
    ul {
      li:first-of-type {
        padding-bottom: 8px;
        img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
      li:nth-of-type(2) {
        ul {
          display: flex;
          flex-direction: row;
          li {
            img {
              max-width: 137px;
              border-radius: 5px;
            }
          }
          li:not(:first-of-type) {
            background: #d8d8d834;
            opacity: .5;
            padding-left: 10px;
          }
        }
      }
    }
  }
}