@import "variable";

@font-face {
  font-family: "dm_serif_display";
  src: local(dm_serif_display),
  url(../webroot/fonts/dm_serif_display_400.woff2),
  url(../webroot/fonts/dm_serif_display_400.woff),
}

@font-face {
  font-family: "dm_sans";
  src: local(dm_sans),
    url(../webroot/fonts/dm_sans_700.woff2),
    url(../webroot/fonts/dm_sans_700.woff),
}