@import "variable";

@font-face {
  font-family: "DM Serif Display";
  src: local(DM-Serif-Display),
  url(../fonts/dm_serif_display_400.woff2) format("woff2"),
  url(../fonts/dm_serif_display_400.woff) format("woff"),
}

@font-face {
  font-family: "DM sans";
  src: local(DM sans),
    url(../fonts/dm_sans_400.woff2) format("woff2"),
    url(../fonts/dm_sans_400.woff) format("woff"),
}

@font-face {
  font-family: "DM sans";
  src: local(DM sans),
    url(../fonts/dm_sans_700.woff2) format("woff2"),
    url(../fonts/dm_sans_700.woff) format("woff"),
}