@import "variable";

$primary-color-heading: #000000;
$sub-heading-text-color: rgba(0, 0, 0, 0.5);
$secondary-color-heading: #FFFFFF;
$text-aling-left: left;
$text-aling-center: center;
$padding-zero: 0;
$padding: 2px;
$margin-zero: 0;
$margin: 2px;
$percentage: 100%;
$margin-auto: auto;
$max-width:16px;
$max-height: $max-width;
$max-width-cotainer: 1114px;
// calc(#{$padding * 46})

footer {
  .container {
    div {
      .footer_profile {
        // There should be a border from the left to the right override the max-width
        padding-bottom: calc(#{$padding * 35});
        ul {
          li:nth-of-type(1) {
            .woman {
              padding-bottom: calc(#{$padding * 13.5});
              display: flex;
              flex-direction: row;
              li:nth-of-type(1) {
                img {
                  width: calc(#{$padding * 35});
                  height: calc(#{$padding * 24});
                  border-radius: calc(#{$padding * 3});
                }
              }
              li:nth-of-type(2) {
                padding-left: calc(#{$padding * 12});
                li:nth-of-type(1) {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: normal;
                  font-size: calc(#{$padding * 8});
                  line-height: calc(#{$padding * 12});
                  color: rgba(0, 0, 0, 0.5);
                  padding-bottom: 0;
                }
                li:nth-of-type(2) {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: bold;
                  font-size: calc(#{$padding * 6});
                  line-height: calc(#{$padding * 12});
                  color: #000000;
                  padding: 0;
                }
              }
            }
          }
          li:nth-of-type(2) {
            padding-bottom: 0;
            .experience {
              text-align: left;
              display: flex;
              flex-direction: row;
              li:nth-of-type(1) {
                img {
                  width: calc(#{$padding * 35});
                  height: calc(#{$padding * 24});
                  border-radius: calc(#{$padding * 3});
                }
              }
              li:nth-of-type(2) {
                padding-left: calc(#{$padding * 12});
                li {
                  font-family: "DM Sans";
                  font-style: normal;
                  line-height: calc(#{$padding * 12});
                }
                li:nth-of-type(1) {
                  font-weight: normal;
                  font-size: calc(#{$padding * 8});
                  color: rgba(0, 0, 0, 0.5);
                  padding-bottom: 0;
                }
                li:nth-of-type(2) {
                  font-weight: bold;
                  font-size: calc(#{$padding * 6});
                  color: $primary-color-heading;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .container {
      div {
        .footer_profile {
          display: block;
          padding-top: 78px;
          padding-bottom: 0;
        }
      }
    }
  }
}