@import "variable";

footer {
  $padding: 2px;
  background: $secondary-color-heading;
  padding: $padding-zero 14.5px;
  .container {
    div {
      .footer_texts {
        h3 {
          font-size: calc(#{$padding * 12});
          line-height: calc(#{$padding * 16});
          color: $primary-color-heading;
          padding-top: calc(#{$padding * 37.5});
          padding-bottom: calc(#{$padding * 11.5});
        }
        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: normal;
          font-size: calc(#{$padding * 8});
          line-height: calc(#{$padding * 12});
          color: $sub-heading-text-color;
          padding-bottom: calc(#{$padding * 15});
        }
        .icons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          max-width: calc(#{$padding * 32.5});
          padding-bottom: calc(#{$padding * 39.5});
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    padding: $padding-zero;
    .container {
      div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 72px;
        .footer_texts {
          display: block;
          padding-top: calc(#{$padding * 39});
          padding-bottom: 0;
          h3 {
            padding-top: 0;
            padding-bottom: calc(#{$padding * 11.5});
          }
          p {
            max-width: calc(#{$max-width * 16.875});
          }
          .icons {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}