@import "variable";

footer {
  .container {
    div {
      .footer_navigation {
        padding-bottom: calc(#{$padding * 38.5});
        h4 {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: bold;
          font-size: calc(#{$padding * 8});
          line-height: calc(#{$padding * 12});
          color: $primary-color-heading;
          padding-bottom: calc(#{$padding * 12});
        }
        ul {
          li {
            a {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: normal;
              font-size: calc(#{$padding * 8});
              line-height: calc(#{$padding * 12});
              color: $sub-heading-text-color;
            }
          }
          li:not(:last-of-type) {
            padding-bottom: calc(#{$padding * 3.995});
          }
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .container {
      div {
        .footer_navigation {
          display: block;
          padding-top: calc(#{$padding * 39});
          padding-bottom: 0;
        }
      }
    }
  }
}