@import "variable";

footer {
  .container {
    div {
      .footer_profile {
        // There should be a border from the left to the right override the max-width
        padding-bottom: 69.92px;
        ul {
          li:nth-of-type(1) {
            .woman {
              padding-bottom: 26.97px;
              text-align: left;
              display: flex;
              flex-direction: row;
              li:nth-of-type(1) {
                img {
                  width: 70px;
                  height: 47.94px;
                  border-radius: 6px;
                }
              }
              li:nth-of-type(2) {
                padding-left: 24px;
                li:nth-of-type(1) {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 24px;
                  color: rgba(0, 0, 0, 0.5);
                  padding-bottom: 0;
                }
                li:nth-of-type(2) {
                  font-family: "DM Sans";
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 24px;
                  color: #000000;
                  padding: 0;
                }
              }
            }
          }
          li:nth-of-type(2) {
            padding-bottom: 0;
            .experience {
              text-align: left;
              display: flex;
              flex-direction: row;
              li:nth-of-type(1) {
                img {
                  width: 70px;
                  height: 47.94px;
                  border-radius: 6px;
                }
              }
              li:nth-of-type(2) {
                padding-left: 24px;
                li {
                  font-family: "DM Sans";
                  font-style: normal;
                  line-height: 24px;
                }
                li:nth-of-type(1) {
                  font-weight: normal;
                  font-size: 16px;
                  color: rgba(0, 0, 0, 0.5);
                  padding-bottom: 0;
                }
                li:nth-of-type(2) {
                  font-weight: bold;
                  font-size: 12px;
                  color: #000000;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .container {
      div {
        .footer_profile {
          display: block;
          padding-top: 78px;
          padding-bottom: 0;
        }
      }
    }
  }
}