@import "variable";
@import "mixins";
footer {
    .big_container {
        .component {
            .container {
                .footer_profile {
                    padding-bottom: calc(#{$padding * 35});
                    ul {
                        li {
                            ul {
                                li {
                                    img {
                                        width: calc(#{$max-width * 4.375});
                                        height: calc(#{$max-width * 3});
                                        border-radius: calc(#{$padding * 3});
                                    }
                                }
                            }
                        }
                        li:nth-of-type(1) {
                            .woman {
                                @include flex;
                                padding-bottom: calc(#{$padding * 13.5});
                                li:nth-of-type(2) {
                                    padding-left: calc(#{$padding * 15.5});
                                    li:nth-of-type(1) {
                                        @include font_DM_sans_normal_plus_font_size;
                                        color: $sub-heading-text-color;
                                        padding-bottom: $padding-zero;
                                    }
                                    li:nth-of-type(2) {
                                        @include font_DM_sans_normal;
                                        @include fontS12_lineH;
                                        font-weight: bold;
                                        font-size: calc(#{$padding * 6});
                                        color: $primary-color-heading;
                                        padding: $padding-zero;
                                    }
                                }
                            }
                        }
                        li:nth-of-type(1):hover {
                            .woman {
                                li:nth-of-type(2) {
                                    li:nth-of-type(1) {
                                        color: blue;
                                    }
                                }
                            }
                        }
                        li:nth-of-type(2) {
                            padding-bottom: $padding-zero;
                            .experience {
                                @include flex;
                                li:nth-of-type(2) {
                                    padding-left: calc(#{$padding * 15.5});
                                    li {
                                        @include font_DM_sans;
                                        line-height: calc(#{$padding * 12});
                                    }
                                    li:nth-of-type(1) {
                                        font-weight: normal;
                                        font-size: calc(#{$padding * 8});
                                        color: $sub-heading-text-color;
                                        padding-bottom: $padding-zero;
                                    }
                                    li:nth-of-type(2) {
                                        font-weight: bold;
                                        font-size: calc(#{$padding * 6});
                                        color: $primary-color-heading;
                                        padding: $padding-zero;
                                    }
                                }
                            }
                        }
                        li:nth-of-type(2):hover {
                            .experience {
                                li:nth-of-type(2) {
                                    li:nth-of-type(1) {
                                        color: blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1120px) {
    footer {
        .big_container {
            .component {
                .container {
                    .footer_profile {
                        display: block;
                        padding-top: calc(#{$padding * 39});
                        padding-bottom: $padding-zero;
                    }
                }
            }
        }
    }
}