@import "variable";
@import "mixins";

footer {
  .container {
    div {
      .footer_navigation {
        padding-bottom: calc(#{$padding * 38.5});
        h4 {
          @include font_DM_sans_bold_plus_font_size;
          color: $primary-color-heading;
          padding-bottom: calc(#{$padding * 12});
        }
        ul {
          li {
            a {
              @include font_DM_sans_normal_plus_font_size;
              color: $sub-heading-text-color;
            }
          }
          li:not(:last-of-type) {
            padding-bottom: calc(#{$padding * 3.995});
          }
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .container {
      div {
        .footer_navigation {
          display: block;
          padding-top: calc(#{$padding * 39});
          padding-bottom: 0;
        }
      }
    }
  }
}