@import "variable";

section:nth-of-type(3) {
  .container {
    .up_to_date {
      li:nth-of-type(2) {
        ul {
          li:nth-of-type(1) {
            padding-bottom: calc(#{$padding * 6});
            label {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: bold;
              font-size: calc(#{$padding * 6});
              line-height: calc(#{$padding * 8});
              text-transform: uppercase;
              color: $primary-color-heading;
            }
            #email_input {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: normal;
              font-size: calc(#{$padding * 8});
              line-height: calc(#{$padding * 12});
              background: $secondary-color-heading;
              border: 1px solid #DADADA;
              box-sizing: border-box;
              border-radius: calc(#{$padding * 2.5});
              padding-top: calc(#{$padding * 6.5});
              padding-bottom: calc(#{$padding * 5.5});
              padding-right: calc(#{$padding * 73});
              padding-left: calc(#{$padding * 6});
              margin-top: calc(#{$padding * 6});
              color: $sub-heading-text-color;
            }
          }
          li:nth-of-type(2) {
            padding-bottom: calc(#{$padding * 27});
            .subscribe {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: bold;
              font-size: calc(#{$padding * 8});
              line-height: calc(#{$padding * 12});
              text-align: center;
              color: $secondary-color-heading;
              border: none;
              background: #434CCC;
              border-radius: calc(#{$padding * 2.5});
              padding: calc(#{$padding * 6}) calc(#{$padding * 22.75});
            }
          }
        }
      }
    }
  }
}


@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0;
    .container {
      .up_to_date {
        li:nth-of-type(2) {
          ul {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: calc(#{$padding * 72});
            li:nth-of-type(1) {
              padding-bottom: 0;
              padding-top: 0;
              padding-right: calc(#{$padding * 27});
            }
            li:nth-of-type(2) {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
