@import "variable";
@import "mixins";

section:nth-of-type(3) {
  .container {
    .up_to_date {
      li:nth-of-type(2) {
        ul {
          li:nth-of-type(1) {
            padding-bottom: calc(#{$padding * 6});
            label {
              @include font_DM_sans;
              @include font_lineH16;
              text-transform: uppercase;
              color: $primary-color-heading;
            }
            #email_input {
              @include font_DM_sans; 
              @include fontS_lineH;
              background: $secondary-color-heading;
              border: calc(#{$padding * .5}) solid #DADADA;
              box-sizing: border-box;
              border-radius: calc(#{$padding * 2.5});
              padding-top: calc(#{$padding * 6.5});
              padding-bottom: calc(#{$padding * 6.5});
              padding-right: calc(#{$padding * 73});
              padding-left: calc(#{$padding * 6});
              margin-top: calc(#{$margin * 6});
              color: $sub-heading-text-color;
            }
          }
          li:nth-of-type(2) {
            padding-bottom: calc(#{$padding * 27});
            .subscribe {
              @include font_DM_sans_bold_plus_font_size;
              text-align: center;
              color: $secondary-color-heading;
              border: none;
              background: #434CCC;
              border-radius: calc(#{$padding * 2.5});
              padding: calc(#{$padding * 6}) calc(#{$padding * 22.75});
            }
          }
        }
      }
    }
  }
}


@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    .container {
      .up_to_date {
        li:nth-of-type(2) {
          ul {
            @include flex;
            align-items: flex-end;
            padding-bottom: calc(#{$padding * 72});
            li:nth-of-type(1) {
              padding-bottom: $padding-zero;
              padding-top: $padding-zero;
              padding-right: calc(#{$padding * 27});
            }
            li:nth-of-type(2) {
              padding-bottom: $padding-zero;
            }
          }
        }
      }
    }
  }
}
