@import "variable";

section:nth-of-type(3) {
  .container {
    .up_to_date {
      li:nth-of-type(2) {
        ul {
          li:nth-of-type(1) {
            padding-bottom: 16px;
            label {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: #000000;
            }
            #email_input {
              background: #FFFFFF;
              border: 1px solid #DADADA;
              box-sizing: border-box;
              border-radius: 5px;
              padding-top: 13px;
              padding-bottom: 11px;
              padding-right: 146px;
              padding-left: 12px;
              margin-top: 12px;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: rgba(0, 0, 0, 0.5);
            }
          }
          li:nth-of-type(2) {
            padding-bottom: 54px;
            .subscribe {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
              border: none;
              background: #434CCC;
              border-radius: 5px;
              padding: 12px 45.5px;
            }
          }
        }
      }
    }
  }
}


@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0;
    .container {
      .up_to_date {
        li:nth-of-type(2) {
          ul {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: 144px;
            li:nth-of-type(1) {
              padding-bottom: 0;
              padding-top: 0;
              padding-right: 54px;
            }
            li:nth-of-type(2) {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
