@import "variable";
@import "mixins";

body > header {
  background: #434CCC;
  position: relative;
  .container {
    @include flex_row_just_center;
    position: relative;
  }
  h3 {
    color: $secondary-color-heading;
    padding-top: calc(#{$padding * 8});
    padding-left: calc(#{$padding * 7});
    padding-bottom: calc(#{$padding * 8});
    font-size: calc(#{$padding * 12});
    line-height: calc(#{$padding * 6});
  }
  svg {
    padding-right: calc(#{$padding * 7});
    position: absolute;
    top: calc(#{$padding * 11.5});
    right: calc(#{$padding * -1.5});
  }
  .checkbox {
    margin-left: calc(#{$padding * -7});
    width: calc(#{$padding * 18});
    height: calc(#{$padding * 11.5});
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox:checked ~ .menu {
    display: block;
    position: absolute;
    top: calc(#{$padding * 32});
    left: calc(#{$padding * -5});
    bottom: 0;
    width: calc(#{$padding * 125});
    height: calc(#{$padding * 400});
    z-index: 1;
    padding: calc(#{$padding * 8});
    color: $secondary-color-heading;
    background-color: $primary-color-heading;
  }
  .menu {
    display: none;
    h3 {
      color: red;
    }
    .navigation_container {
      padding-left: calc(#{$padding * 15});
      li {
        padding: calc(#{$padding * 8});
        a {
          @include font_DM_sans_bold_plus_font_size;
          color: $secondary-color-heading;
        }
      }
    }
  }
}


@media(min-width: 1120px) {
  body > header {
    .container {
      @include flex_row;
    }
    h3 {
      padding-left: 0;
      font-size: calc(#{$padding * 20});
      line-height: calc(#{$padding * 12});
    }
    svg {
      display: none;
    }
    .menu {
      display: flex;
      h3 {
        display: none;
      }
      .navigation_container {
        @include flex_row;
        li {
          a {
            @include font_DM_sans_bold_plus_font_size;
            color: $secondary-color-heading;
          }
        }
      }
    }
  }
}

