@import "variable";

body > header {
  background: #434CCC;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    color: #FFFFFF;
    padding-top: 16px;
    padding-left: 14px;
    padding-bottom: 16px;
  }
  svg {
    padding-right: 14.5px;
  }
  .menu {
    display: none;
  }
}

@media(min-width: 1120px) {
  body > header {
    .container {
      max-width: 1114px;
      margin: auto;
    }
    svg {
      display: none;
    }
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}