@import "variable";
@import "mixins";

footer {
  .last_footer_items {
    padding: $padding-zero calc(#{$padding * 7.25});
    padding-bottom: calc(#{$padding * 14.5});

    li {
      @include font_DM_sans_normal_plus_font_size;
      color: $sub-heading-text-color;
    }
    li:nth-of-type(1) {
      padding-top: calc(#{$padding * 13.5});
      padding-bottom: calc(#{$padding * 4});
      text-align: center;
    }
  }
}

@media(min-width: 1120px) {
  footer {
    .last_footer_items {
      @include flex_row;
      padding-bottom: calc(#{$padding * 37.5});
      padding-top: calc(#{$padding * 13.5});
      li:nth-of-type(1) {
        padding-top: $padding-zero;
        padding-bottom: $padding-zero;
      }
    }
  }
}
