@import "variable";

main > header {
  $padding: 2px;
  padding: 0 calc(#{$padding * 7.25});
  padding-top: calc(#{$padding * 15.5});
  a  {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(#{$padding * 8});
    line-height: calc(#{$padding * 12});
    color: $sub-heading-text-color;
    img {
      width: calc(#{$padding * 7.5});
    }
  }
  h1 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: normal;
    font-size: calc(#{$padding * 26});
    line-height: calc(#{$padding * 32});
    color: $primary-color-heading;
    padding-top: calc(#{$padding * 30.5});
    padding-bottom: calc(#{$padding * 32.5});
  }
  ul {
    padding-bottom: calc(#{$padding * 41});
    li {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: calc(#{$padding * 9});
      line-height: calc(#{$padding * 16});
      color: $primary-color-heading;
    }
  } 
}

@media(min-width: 1120px) {
  main > header {
    padding: 0 0;
    padding-top: calc(#{$padding * 24.5});
    h1 {
      font-size: calc(#{$padding * 36});
      line-height: calc(#{$padding * 40});
      padding-top: calc(#{$padding * 19});
      padding-bottom: calc(#{$padding * 30.5});
      max-width: calc(#{$padding * 228.5});
    }
    ul {
      padding-bottom: calc(#{$padding * 34.5});
    }
  }
  
}







