@import "variable";
@import "mixins";

main > header {
  padding-top: calc(#{$padding * 15.5});
  a  {
    @include font_DM_sans_normal_plus_font_size;
    color: $sub-heading-text-color;
    img {
      width: calc(#{$padding * 7.5});
    }
  }
  h1 {
    @include font_dm_serif_display;
    font-size: calc(#{$padding * 26});
    line-height: calc(#{$padding * 32});
    color: $primary-color-heading;
    padding-top: calc(#{$padding * 30.5});
    padding-bottom: calc(#{$padding * 32.5});
  }
  ul {
    padding-bottom: calc(#{$padding * 41});
    li {
      @include font_DM_sans_normal;
      font-size: calc(#{$padding * 9});
      line-height: calc(#{$padding * 16});
      color: $primary-color-heading;
    }
  } 
}

@media(min-width: 1120px) {
  main > header {
    padding-top: calc(#{$padding * 24.5});
    h1 {
      font-size: calc(#{$padding * 36});
      line-height: calc(#{$padding * 40});
      padding-top: calc(#{$padding * 19});
      padding-bottom: calc(#{$padding * 30.5});
      max-width: calc(#{$max-width * 28.5625});
    }
    ul {
      padding-bottom: calc(#{$padding * 34.5});
    }
  }
  
}
