@import "variable";

section:nth-of-type(3) {
  background: #FFDD78;
  padding: 0 14.5px;
  .container {
    h4 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #000000;
      padding-top: 63px;
      padding-bottom: 19px;
    }
    .up_to_date {
      li {
        h2 {
          font-family: "DM Serif Display";
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 48px;
          color: #000000;
          padding-bottom: 44px;
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0 14.5px;
    .container {
      h4 {
        padding-top: 79px;
        padding-bottom: 17px;
      }
      .up_to_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          h2 {
            font-size: 52px;
            line-height: 64px;
            padding-bottom: 104px;
            max-width: 382px;
          }
        }
      }
    }
  }
}
