@import "variable";
@import "mixins";

section:nth-of-type(3) {
  background: #FFDD78;
  .container {
    h4 {
      @include font_DM_sans_normal_plus_font_size;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $primary-color-heading;
      padding-top: calc(#{$padding * 31.5});
      padding-bottom: calc(#{$padding * 9.5});
    }
    .up_to_date {
      li {
        h2 {
          @include font_dm_serif_display;
          font-size: calc(#{$padding * 20});
          line-height: calc(#{$padding * 24});
          color: $primary-color-heading;
          padding-bottom: calc(#{$padding * 22});
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    .container {
      h4 {
        padding-top: calc(#{$padding * 39.5});
        padding-bottom: calc(#{$padding * 8.5});
      }
      .up_to_date {
        @include flex_row;
        li {
          h2 {
            font-size: calc(#{$padding * 26});
            line-height: calc(#{$padding * 32});
            padding-bottom: calc(#{$padding * 52});
            max-width: calc(#{$max-width * 23.875});
          }
        }
      }
    }
  }
}
