@import "variable";

section:nth-of-type(3) {
  $padding: 2px;
  background: #FFDD78;
  padding: 0 calc(#{$padding * 7.25});
  .container {
    h4 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: calc(#{$padding * 8});
      line-height: calc(#{$padding * 12});
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $primary-color-heading;
      padding-top: calc(#{$padding * 31.5});
      padding-bottom: calc(#{$padding * 9.5});
    }
    .up_to_date {
      li {
        h2 {
          font-family: "DM Serif Display";
          font-style: normal;
          font-weight: normal;
          font-size: calc(#{$padding * 20});
          line-height: calc(#{$padding * 24});
          color: $primary-color-heading;
          padding-bottom: calc(#{$padding * 22});
        }
      }
    }
  }
}

@media(min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0;
    .container {
      h4 {
        padding-top: calc(#{$padding * 39.5});
        padding-bottom: calc(#{$padding * 8.5});
      }
      .up_to_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          h2 {
            font-size: calc(#{$padding * 26});
            line-height: calc(#{$padding * 32});
            padding-bottom: calc(#{$padding * 52});
            max-width: calc(#{$padding * 191});
          }
        }
      }
    }
  }
}
