body {
  margin: 0;
  background: rgba(67, 76, 204, 0.05); }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  color: #FFFFFF; }

h3 {
  font-family: "dm_serif_display";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

@media (min-width: 1120px) {
  .container {
    max-width: 1114px;
    margin: auto; } }

section:nth-of-type(2) .container .specific_details {
  padding-top: 92px;
  padding-bottom: 75px; }
  section:nth-of-type(2) .container .specific_details .details_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 333px; }
    section:nth-of-type(2) .container .specific_details .details_container .label {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }
    section:nth-of-type(2) .container .specific_details .details_container .details {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000; }

@media (min-width: 1120px) {
  section:nth-of-type(2) .container .specific_details {
    padding-top: 89px; }
    section:nth-of-type(2) .container .specific_details .details_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;
      row-gap: 40px;
      width: 443px; }
      section:nth-of-type(2) .container .specific_details .details_container .label {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.5); }
      section:nth-of-type(2) .container .specific_details .details_container .details {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #000000; } }

section:nth-of-type(1) {
  padding: 0 14.5px; }

@font-face {
  font-family: "dm_serif_display";
  src: local(dm_serif_display), url(../webroot/fonts/dm_serif_display_400.woff2), url(../webroot/fonts/dm_serif_display_400.woff); }

@font-face {
  font-family: "dm_sans";
  src: local(dm_sans), url(../webroot/fonts/dm_sans_700.woff2), url(../webroot/fonts/dm_sans_700.woff); }

footer {
  background: #FFFFFF;
  padding: 0 14.5px; }
  footer .container .footer_texts h3 {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    padding-top: 75px;
    padding-bottom: 22.97px; }
  footer .container .footer_texts p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px; }
  footer .container .footer_texts .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 65px;
    padding-bottom: 78.91px; }

@media (min-width: 1120px) {
  footer .container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    footer .container div .footer_texts {
      display: block;
      padding-top: 72px; }
      footer .container div .footer_texts h3 {
        padding-top: 0;
        padding-bottom: 23; }
      footer .container div .footer_texts p {
        max-width: 270px; }
      footer .container div .footer_texts .icons {
        padding-bottom: 0; } }

footer .container .footer_navigation {
  padding-bottom: 77px; }
  footer .container .footer_navigation h4 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 23.97px; }
  footer .container .footer_navigation ul li a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5); }
  footer .container .footer_navigation ul li:not(:last-of-type) {
    padding-bottom: 7.99px; }

footer .container .footer_profile {
  border-bottom: 1px solid #0000003b;
  padding-bottom: 69.92px;
  overflow: visible; }
  footer .container .footer_profile ul li:nth-of-type(1) .woman {
    padding-bottom: 26.97px;
    text-align: left;
    display: flex;
    flex-direction: row; }
    footer .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(1) img {
      width: 70px;
      height: 47.94px;
      border-radius: 6px; }
    footer .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) {
      padding-left: 24px; }
      footer .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) li:nth-of-type(1) {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 0; }
      footer .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) li:nth-of-type(2) {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        padding: 0; }
  footer .container .footer_profile ul li:nth-of-type(2) {
    padding-bottom: 0; }
    footer .container .footer_profile ul li:nth-of-type(2) .experience {
      text-align: left;
      display: flex;
      flex-direction: row; }
      footer .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(1) img {
        width: 70px;
        height: 47.94px;
        border-radius: 6px; }
      footer .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) {
        padding-left: 24px; }
        footer .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li {
          font-family: "DM Sans";
          font-style: normal;
          line-height: 24px; }
        footer .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li:nth-of-type(1) {
          font-weight: normal;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.5);
          padding-bottom: 0; }
        footer .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li:nth-of-type(2) {
          font-weight: bold;
          font-size: 12px;
          color: #000000;
          padding: 0; }

section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) {
  padding-bottom: 16px; }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) label {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000; }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) #email_input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-right: 146px;
    padding-left: 12px;
    margin-top: 12px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5); }

section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) {
  padding-bottom: 54px; }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) .subscribe {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #434CCC;
    border-radius: 5px;
    padding: 12px 45.5px; }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0; }
    section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding-bottom: 144px; }
      section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) {
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 54px; }
      section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) {
        padding-bottom: 0; } }

body > header {
  background: #434CCC;
  position: relative; }
  body > header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  body > header h3 {
    color: #FFFFFF;
    padding-top: 16px;
    padding-left: 14px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 32px; }
  body > header svg {
    padding-right: 14px;
    position: absolute;
    top: 23px;
    right: -3px; }
  body > header .checkbox {
    margin-left: -14px;
    width: 36px;
    height: 23px;
    opacity: 0;
    z-index: 1; }
  body > header .checkbox:checked ~ .menu {
    display: block;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: -10px;
    width: 250px;
    z-index: 1;
    padding: 16px;
    height: 800px;
    background-color: black; }
  body > header .menu {
    display: none; }
    body > header .menu h3 {
      color: red; }
    body > header .menu ul {
      padding-left: 30px; }
      body > header .menu ul li {
        padding: 1rem;
        text-transform: uppercase;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF; }
        body > header .menu ul li a {
          font-family: "DM sans";
          font-style: normal;
          font-weight: normal;
          text-transform: uppercase; }

@media (min-width: 1120px) {
  body > header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  body > header h3 {
    color: #FFFFFF;
    padding-top: 16px;
    padding-left: 0;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px; }
  body > header svg {
    display: none; }
  body > header .menu {
    display: flex; }
    body > header .menu h3 {
      display: none; }
    body > header .menu ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body > header .menu ul li {
        font-family: "DM sans";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: right; } }

@media (min-width: 1120px) {
  body > header .menu {
    display: flex; }
    body > header .menu ul li a {
      color: #FFFFFF;
      font-family: "dm_sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px; } }

main section:nth-of-type(2) {
  padding: 0 14.5px; }

@media (min-width: 1120px) {
  main section:nth-of-type(2) .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: baseline; } }

footer .container .last_footer_items {
  padding-bottom: 29px; }
  footer .container .last_footer_items li {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5); }
  footer .container .last_footer_items li:nth-of-type(1) {
    padding-top: 26.97px;
    padding-bottom: 7.99px; }

main > header {
  padding: 0 14.5px; }
  main > header a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px; }
    main > header a img {
      width: 15px; }

section:nth-of-type(2) .container .more_info h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0;
  padding-bottom: 31px; }

section:nth-of-type(2) .container .more_info p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  margin: 0; }

section:nth-of-type(2) .container .more_info p:nth-of-type(1) {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 16px; }

section:nth-of-type(2) .container .more_info p:nth-of-type(2) {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 31px; }

section:nth-of-type(2) .container .more_info .more_info_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 65px;
  padding-bottom: 105px; }

@media (min-width: 720px) {
  section:nth-of-type(2) .container .more_info p {
    width: 700px; } }

@media (min-width: 1120px) {
  section:nth-of-type(2) .container .more_info p {
    width: 570px; }
  section:nth-of-type(2) .container .more_info p:nth-of-type(1) {
    padding-bottom: 38px; }
  section:nth-of-type(2) .container .more_info p:nth-of-type(2) {
    padding-bottom: 55px; }
  section:nth-of-type(2) .container .more_info .more_info_icons {
    padding-bottom: 76px; } }

section:nth-of-type(3) {
  background: #FFDD78;
  padding: 0 14.5px; }
  section:nth-of-type(3) .container h4 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 63px;
    padding-bottom: 19px; }
  section:nth-of-type(3) .container .up_to_date li h2 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-bottom: 44px; }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78;
    padding: 0; }
    section:nth-of-type(3) .container h4 {
      padding-top: 79px;
      padding-bottom: 17px; }
    section:nth-of-type(3) .container .up_to_date {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      section:nth-of-type(3) .container .up_to_date li h2 {
        font-size: 52px;
        line-height: 64px;
        padding-bottom: 104px;
        max-width: 382px; } }
