body {
  margin: 0;
  background: rgba(67, 76, 204, 0.05); }
  body header, body section {
    padding: 0 calc(14.5px); }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  color: #FFFFFF; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase; }

h5 {
  display: none; }

@media (min-width: 1120px) {
  .container {
    max-width: 1114px;
    margin: auto; }
  body header, body section, body footer {
    padding: 0; } }

@font-face {
  font-family: "DM Serif Display";
  src: local(DM-Serif-Display), url(../webroot/fonts/dm_serif_display_400.woff2) format("woff2"), url(../webroot/fonts/dm_serif_display_400.woff) format("woff"); }

@font-face {
  font-family: "DM sans";
  src: local(DM sans), url(../webroot/fonts/dm_sans_400.woff2) format("woff2"), url(../webroot/fonts/dm_sans_400.woff) format("woff"); }

@font-face {
  font-family: "DM sans";
  src: local(DM sans), url(../webroot/fonts/dm_sans_700.woff2) format("woff2"), url(../webroot/fonts/dm_sans_700.woff) format("woff"); }

body > header {
  background: #434CCC;
  position: relative; }
  body > header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    body > header .container h3 {
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: normal;
      color: #FFFFFF;
      padding-top: calc(16px);
      padding-left: calc(14px);
      padding-bottom: calc(16px);
      font-size: calc(24px);
      line-height: calc(12px); }
    body > header .container svg {
      padding-right: calc(14px);
      position: absolute;
      top: calc(15px);
      right: calc(-3px); }
    body > header .container .checkbox {
      margin-left: calc(-14px);
      width: calc(36px);
      height: calc(23px);
      opacity: 0;
      z-index: 1; }
    body > header .container .checkbox:checked ~ .menu {
      display: block;
      position: absolute;
      top: calc(44px);
      left: calc(-15px);
      width: calc(300px);
      height: calc(300px);
      z-index: 1;
      padding: calc(10px);
      color: #FFFFFF;
      background-color: black;
      border-radius: calc(16px); }
    body > header .container .menu {
      display: none; }
      body > header .container .menu h3 {
        color: #FFFFFF;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        padding-left: 0;
        padding-top: calc(40px);
        padding-bottom: calc(40px); }
      body > header .container .menu .navigation_container {
        padding-left: calc(20px) calc(20px);
        background-color: rgba(128, 128, 128, 0.537);
        border-radius: calc(10px);
        box-shadow: 2px 2px 2px #FFFFFF; }
        body > header .container .menu .navigation_container li {
          padding: calc(10px); }
          body > header .container .menu .navigation_container li a {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: bold;
            font-size: calc(16px);
            line-height: calc(24px);
            color: #FFFFFF; }

@media (min-width: 720px) {
  body > header .container svg {
    display: none; }
  body > header .container .menu {
    display: flex; }
    body > header .container .menu h3 {
      display: none; }
    body > header .container .menu .navigation_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #434CCC;
      border-radius: none;
      box-shadow: none; }
      body > header .container .menu .navigation_container li a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: calc(16px);
        line-height: calc(24px);
        color: #FFFFFF; } }

@media (min-width: 1120px) {
  body > header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body > header .container h3 {
      padding-left: calc(0px);
      font-size: calc(40px);
      line-height: calc(48px);
      color: white; }
    body > header .container svg {
      display: none; }
    body > header .container .menu {
      display: flex; }
      body > header .container .menu h3 {
        display: none; }
      body > header .container .menu .navigation_container li a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: calc(16px);
        line-height: calc(24px);
        color: #FFFFFF; } }

main > header {
  padding-top: calc(31px); }
  main > header .container a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px);
    line-height: calc(24px);
    color: rgba(0, 0, 0, 0.5); }
    main > header .container a img {
      width: calc(15px); }
  main > header .container h1 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: normal;
    font-size: calc(52px);
    line-height: calc(64px);
    color: #000000;
    padding-top: calc(61px);
    padding-bottom: calc(65px); }
  main > header .container ul {
    padding-bottom: calc(82px); }
    main > header .container ul li {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: calc(18px);
      line-height: calc(32px);
      color: #000000; }

@media (min-width: 1120px) {
  main > header {
    padding-top: calc(49px); }
    main > header h1 {
      font-size: calc(72px);
      line-height: calc(80px);
      padding-top: calc(38px);
      padding-bottom: calc(61px);
      max-width: calc(457px); }
    main > header ul {
      padding-bottom: calc(69px); } }

section:nth-of-type(1) .container ul li:first-of-type {
  padding-bottom: calc(8px); }
  section:nth-of-type(1) .container ul li:first-of-type img {
    max-width: 100%;
    height: auto;
    border-radius: calc(5px); }

section:nth-of-type(1) .container ul li:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; }
  section:nth-of-type(1) .container ul li:nth-of-type(2) ul li img {
    max-width: calc(130.4px);
    border-radius: calc(5px); }
  section:nth-of-type(1) .container ul li:nth-of-type(2) ul li:not(:first-of-type) {
    background: #d8d8d834;
    opacity: .5;
    padding-left: calc(10px); }

section:nth-of-type(1) .container ul li:nth-of-type(2) ul::-webkit-scrollbar {
  display: none; }

@media (min-width: 1120px) {
  main section:nth-of-type(2) .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

section:nth-of-type(2) .container .specific_details {
  padding-top: calc(92px);
  padding-bottom: calc(75px); }
  section:nth-of-type(2) .container .specific_details .details_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(10px);
    max-width: calc(333px); }
    section:nth-of-type(2) .container .specific_details .details_container .label {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: normal;
      font-size: calc(16px);
      line-height: calc(24px);
      color: rgba(0, 0, 0, 0.5); }
    section:nth-of-type(2) .container .specific_details .details_container .details {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: bold;
      font-size: calc(16px);
      line-height: calc(24px);
      color: #000000; }

@media (min-width: 1120px) {
  section:nth-of-type(2) .container .specific_details {
    padding-top: 0; }
    section:nth-of-type(2) .container .specific_details .details_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: calc(50px);
      row-gap: calc(40px);
      width: calc(443px); } }

section:nth-of-type(2) .container .more_info h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: calc(40px);
  line-height: calc(48px);
  color: #000000;
  margin: 0;
  padding-bottom: calc(31px); }

section:nth-of-type(2) .container .more_info p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  margin: 0; }

section:nth-of-type(2) .container .more_info p:nth-of-type(1) {
  font-size: calc(18px);
  line-height: calc(32px);
  color: #000000;
  padding-bottom: calc(16px); }

section:nth-of-type(2) .container .more_info p:nth-of-type(2) {
  font-size: calc(16px);
  line-height: calc(24px);
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: calc(31px); }

section:nth-of-type(2) .container .more_info .more_info_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: calc(65px);
  padding-bottom: calc(105px); }

@media (min-width: 720px) {
  section:nth-of-type(2) .container .more_info p {
    width: calc(700px); } }

@media (min-width: 1120px) {
  section:nth-of-type(2) .container {
    padding-top: 89px; }
    section:nth-of-type(2) .container .more_info p {
      width: calc(570px); }
    section:nth-of-type(2) .container .more_info p:nth-of-type(1) {
      padding-bottom: calc(38px); }
    section:nth-of-type(2) .container .more_info p:nth-of-type(2) {
      padding-bottom: calc(55px); }
    section:nth-of-type(2) .container .more_info .more_info_icons {
      padding-bottom: calc(76px); } }

section:nth-of-type(3) {
  background: #FFDD78; }
  section:nth-of-type(3) .container h4 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px);
    line-height: calc(24px);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
    padding-top: calc(63px);
    padding-bottom: calc(19px); }
  section:nth-of-type(3) .container .up_to_date li h2 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: normal;
    font-size: calc(40px);
    line-height: calc(48px);
    color: #000000;
    padding-bottom: calc(44px); }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78; }
    section:nth-of-type(3) .container h4 {
      padding-top: calc(79px);
      padding-bottom: calc(17px); }
    section:nth-of-type(3) .container .up_to_date {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      section:nth-of-type(3) .container .up_to_date li h2 {
        font-size: calc(52px);
        line-height: calc(64px);
        padding-bottom: calc(104px);
        max-width: calc(382px); } }

section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) {
  padding-bottom: calc(12px); }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) label {
    font-family: "DM Sans";
    font-style: normal;
    font-size: calc(12px);
    line-height: calc(16px);
    text-transform: uppercase;
    color: #000000; }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) #email_input {
    font-family: "DM Sans";
    font-style: normal;
    font-size: calc(16px);
    line-height: calc(24px);
    background: #FFFFFF;
    border: calc(1px) solid #DADADA;
    box-sizing: border-box;
    border-radius: calc(5px);
    padding-top: calc(13px);
    padding-bottom: calc(13px);
    padding-right: calc(146px);
    padding-left: calc(12px);
    margin-top: calc(12px);
    color: rgba(0, 0, 0, 0.5); }

section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) {
  padding-bottom: calc(54px); }
  section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) .subscribe {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px);
    line-height: calc(24px);
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #434CCC;
    border-radius: calc(5px);
    padding: calc(12px) calc(45.5px); }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    background: #FFDD78; }
    section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding-bottom: calc(144px); }
      section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(1) {
        padding-bottom: 0;
        padding-top: 0;
        padding-right: calc(54px); }
      section:nth-of-type(3) .container .up_to_date li:nth-of-type(2) ul li:nth-of-type(2) {
        padding-bottom: 0; } }

footer {
  background: #FFFFFF; }
  footer .big_container .component {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%; }
    footer .big_container .component .container {
      padding: 0 calc(14.5px); }
      footer .big_container .component .container .footer_texts h3 {
        font-size: calc(24px);
        line-height: calc(32px);
        color: #000000;
        padding-top: calc(75px);
        padding-bottom: calc(23px); }
      footer .big_container .component .container .footer_texts p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: calc(16px);
        line-height: calc(24px);
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: calc(30px); }
      footer .big_container .component .container .footer_texts .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: calc(65px);
        padding-bottom: calc(79px); }

@media (min-width: 1120px) {
  footer .big_container .component .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: calc(72px); }
    footer .big_container .component .container .footer_texts {
      display: block;
      padding-top: calc(78px);
      padding-bottom: 0; }
      footer .big_container .component .container .footer_texts h3 {
        padding-top: 0;
        padding-bottom: calc(23px); }
      footer .big_container .component .container .footer_texts p {
        max-width: calc(270px); }
      footer .big_container .component .container .footer_texts .icons {
        padding-bottom: 0; } }

footer .big_container .component .container .footer_navigation {
  padding-bottom: calc(77px); }
  footer .big_container .component .container .footer_navigation h4 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px);
    line-height: calc(24px);
    color: #000000;
    padding-bottom: calc(24px); }
  footer .big_container .component .container .footer_navigation ul li a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px);
    line-height: calc(24px);
    color: rgba(0, 0, 0, 0.5); }
  footer .big_container .component .container .footer_navigation ul li:not(:last-of-type) {
    padding-bottom: calc(7.99px); }

@media (min-width: 1120px) {
  footer .big_container .component .container .footer_navigation {
    display: block;
    padding-top: calc(78px);
    padding-bottom: 0; } }

footer .big_container .component .container .footer_profile {
  padding-bottom: calc(70px); }
  footer .big_container .component .container .footer_profile ul li ul li img {
    width: calc(70px);
    height: calc(48px);
    border-radius: calc(6px); }
  footer .big_container .component .container .footer_profile ul li:nth-of-type(1) .woman {
    display: flex;
    flex-direction: row;
    padding-bottom: calc(27px); }
    footer .big_container .component .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) {
      padding-left: calc(24px); }
      footer .big_container .component .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) li:nth-of-type(1) {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: calc(16px);
        line-height: calc(24px);
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 0; }
      footer .big_container .component .container .footer_profile ul li:nth-of-type(1) .woman li:nth-of-type(2) li:nth-of-type(2) {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: calc(12px);
        line-height: calc(24px);
        color: #000000;
        padding: 0; }
  footer .big_container .component .container .footer_profile ul li:nth-of-type(2) {
    padding-bottom: 0; }
    footer .big_container .component .container .footer_profile ul li:nth-of-type(2) .experience {
      display: flex;
      flex-direction: row; }
      footer .big_container .component .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) {
        padding-left: calc(24px); }
        footer .big_container .component .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li {
          font-family: "DM Sans";
          font-style: normal;
          line-height: calc(24px); }
        footer .big_container .component .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li:nth-of-type(1) {
          font-weight: normal;
          font-size: calc(16px);
          color: rgba(0, 0, 0, 0.5);
          padding-bottom: 0; }
        footer .big_container .component .container .footer_profile ul li:nth-of-type(2) .experience li:nth-of-type(2) li:nth-of-type(2) {
          font-weight: bold;
          font-size: calc(12px);
          color: #000000;
          padding: 0; }

@media (min-width: 1120px) {
  footer .big_container .component .container .footer_profile {
    display: block;
    padding-top: calc(78px);
    padding-bottom: 0; } }

footer .last_footer_items {
  padding: 0 calc(14.5px);
  padding-bottom: calc(29px); }
  footer .last_footer_items li {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px);
    line-height: calc(24px);
    color: rgba(0, 0, 0, 0.5); }
  footer .last_footer_items li:nth-of-type(1) {
    padding-top: calc(27px);
    padding-bottom: calc(8px); }

@media (min-width: 1120px) {
  footer .last_footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: calc(75px);
    padding-top: calc(27px); }
    footer .last_footer_items li:nth-of-type(1) {
      padding-top: 0;
      padding-bottom: 0; } }
